#headerName {
    color: #ffffff;
}

#bigtext {
    color: #151853;
    font-size: 3rem;
    font: bolder;
}

#wmed-gallery {
    padding-top: 60px;
}

#support-letters {
    padding-top: 60px;
}

#footer-country {
    color: #fff;
}

.header-social {
    color: #fff;
}

.nav-social {
    display:inline;
    float: left;
}